server:
  port: 8189
  servlet:
    context-path: /security
spring:
  application:
    name: spring-security-master
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        temp:
          use_jdbc_metadata_defaults: false
  datasource:
    url: jdbc:postgresql://localhost:5432/spring-security-master?currentSchema=springsecurity
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: dv9899